@import 'simplebar-react/dist/simplebar.min.css';
@import '@ying/shared-react/styles';
@source "../node_modules/@ying/shared-react/src";

:root {
  --primary: #00a76f;
  --success: #22c55e;
  --warning: #ff7849;
  --error: #ff5630;
  --info: #1677ff;

  --hover: #63738115;
  --scrollbar: rgba(0, 0, 0, 0.25);
}

.dark {
  --hover: #f4f4f420;
  --scrollbar: rgba(255, 255, 255, 0.25);
}

@theme inline {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-info: var(--info);
  --color-border: var(--border);
  --color-hover: var(--hover);
  --animate-spin-slow: spin 8s linear infinite;
}

@layer base {
  * {
    scrollbar-color: var(--scrollbar) transparent;
    outline: none;
  }
}

.simplebar-scrollbar::before {
  background: var(--scrollbar);
}
