@import '@ying/shared-react/styles';
@source "../node_modules/@ying/shared-react/src";

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply m-0 bg-background text-foreground;
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}

*::-webkit-scrollbar {
  display: none;
}
